@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.foxxie-main-panel {
    width: 100%;
}

.foxxie-navbar {
    transition: top 0.3s, box-shadow 0.3s, border-bottom 0.3s;
}

.foxxie-bottom-scroll-up {
    transition: bottom 0.3s, box-shadow 0.3s
}

@media (min-width: 768px) {
    .foxxie-main-panel {
       width: calc(100% - 312px);
    }
}

.jump-link {
    margin-top: -80px;
    padding-top: 80px;
}

.project-menu {
    transition: height 0.3s ease;
}

#navbar {
    transition: top 0.3s;
}

.slide-step {
    transition: transform 0.8s ease, opacity 0.3s ease 0.8s;
}

.scale-btn {
    transition: transform 0.3s ease;
}

#hire-description-textarea {
    transition: width 0.5s ease;
    @apply max-h-56;
}

.hide-s {
    overflow-y: hidden;
}