* {
    box-sizing:inherit
}
#particle-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.48;
}
canvas {
    position: fixed;
}